# SPDX-License-Identifier: MIT

[submodule "faroela/vendor/spdlog"]
	path = faroela/common/vendor/spdlog
	url = https://github.com/gabime/spdlog
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/tracy"]
	path = faroela/vendor/tracy
	url = https://github.com/wolfpld/tracy
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/magic_enum"]
	path = faroela/common/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum
	shallow = true
	ignore = dirty

[submodule "sphinx/vendor/glfw"]
	path = sphinx/vendor/glfw
	url = https://github.com/glfw/glfw
	shallow = true
	ignore = dirty
