# SPDX-License-Identifier: MIT

[submodule "faroela/vendor/spdlog"]
	path = faroela/common/vendor/spdlog
	url = https://github.com/gabime/spdlog
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/tracy"]
	path = faroela/vendor/tracy
	url = https://github.com/wolfpld/tracy
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/magic_enum"]
	path = faroela/common/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/libuv"]
	path = faroela/vendor/libuv
	url = https://github.com/libuv/libuv
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/unordered_dense"]
	path = faroela/vendor/unordered_dense
	url = https://github.com/martinus/unordered_dense
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/function_ref"]
	path = faroela/vendor/function_ref
	url = https://github.com/TartanLlama/function_ref
	shallow = true
	ignore = dirty

[submodule "faroela/common/vendor/eternal"]
	path = faroela/common/vendor/eternal
	url = https://github.com/mapbox/eternal
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/bgfx"]
	path = faroela/vendor/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake
	shallow = true
	ignore = dirty

[submodule "faroela/vendor/entt"]
	path = faroela/vendor/entt
	url = https://github.com/skypjack/entt
	shallow = true
	ignore = dirty

[submodule "sphinx/vendor/sdl"]
	path = sphinx/vendor/sdl
	url = https://github.com/libsdl-org/SDL
	shallow = true
	ignore = dirty
[submodule "faroela/vendor/sol2"]
	path = faroela/vendor/sol2
	url = https://github.com/ThePhD/sol2
